@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8rem;
    padding-right: 8rem;
}
  
html {
    scroll-behavior: smooth;
    scroll-padding-top: 8.5rem;
}

@media (max-width: 1024px) {
    html {
        scroll-padding-top: 4rem;
    }
}

.contact-link {
    position: relative;
    display: inline-block;
    color: #663535;
    padding-bottom: 2px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #663535;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.contact-link:hover {
    color: #663535;
}

.contact-link:hover::after {
    transform: scaleX(1);
}


  